body {
    background-color: var(--color-lightest);
    color: var(--color-darker);
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

body {
    min-height: 100;
    text-rendering: optimizeSpeed;
    line-height: 1.5em;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 800;
    margin-bottom: 1rem;
}

.container {
    padding: 0.5rem;
    margin: auto;
    max-width: 800px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

li {
    display: inline-block;
    border-radius: var(--rounded);
    border: 2px solid rgb(104, 26, 228);
    padding: 1rem 1rem;
    color: blue;
    margin: 1rem;
}

.leave_message {
    display: block;
}

a.navbar-brand {
    font-size: x-large;
    color: black;
    text-align-last: left;
    font-family: cursive;
}

.logo_img {
    width: 100%;
    box-sizing: border-box;
}